[submodule "packages/owlprotocol-contracts/lib/forge-std"]
	path = packages/owlprotocol-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/owlprotocol-contracts/lib/openzeppelin-contracts"]
	path = packages/owlprotocol-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/owlprotocol-contracts/lib/openzeppelin-contracts-upgradeable"]
	path = packages/owlprotocol-contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "packages/owlprotocol-contracts/lib/chainlink"]
	path = packages/owlprotocol-contracts/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
